@import "tailwindcss";


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    /* background: #0a0a0a;
    color: #f3f4f6; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}




@layer utilities {
    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  
    .animate-blink {
      animation: blink 0.6s step-end infinite;
    }
  
    @keyframes loading {
        0% {
            width: 0%; /* Start at 0% width */
          }
          100% {
            width: 100%; /* End at 100% width */
          }
    }
  
    .animate-loading-bar {
      animation: loading 1.2s ease-in-out ease-out forwards;
    }


    .animate-spin-slow {
      animation: spin 4s linear infinite;
    }
  }

